In [1]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
feature_names = iris.feature_names
target_names = iris.target_names
X = pd.DataFrame(iris.data, columns=feature_names)
y = pd.DataFrame(iris.target, columns=['species'])
df = pd.concat([X,y],axis=1)
df.sample(n=5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
112,6.8,3.0,5.5,2.1,2
47,4.6,3.2,1.4,0.2,0
115,6.4,3.2,5.3,2.3,2
9,4.9,3.1,1.5,0.1,0
132,6.4,2.8,5.6,2.2,2