In [8]:
sqldf('''
SELECT name FROM scores WHERE test_1_score < 75 AND test_10_score > 85;
''')

      name
0  William
1   Evelyn