In [8]:
df[['CRIM', 'NOX', 'RM']]

        CRIM    NOX     RM
0    0.00632  0.538  6.575
1    0.02731  0.469  6.421
2    0.02729  0.469  7.185
3    0.03237  0.458  6.998
4    0.06905  0.458  7.147
..       ...    ...    ...
501  0.06263  0.573  6.593
502  0.04527  0.573  6.120
503  0.06076  0.573  6.976
504  0.10959  0.573  6.794
505  0.04741  0.573  6.030

[506 rows x 3 columns]