By now there should be a schema created in your current working directory called `test.db` that holds 3 tables: `clients`, `country` and `daily_status`.

Again, we import `sqlite3`, create a connection to our schema (`test.db` file), and create a cursor--using this connection--to point to our database.

In [1]:
import sqlite3
conn = sqlite3.connect('test.db')
c = conn.cursor()

Syntax for inserting new value(s) into an existing table:

In [2]:
### Single row of data, single column
'''
INSERT INTO table_name (column_name)
VALUES 
   (_value_);
'''

### Single row of data, multiple columns
'''
INSERT INTO table_name (column1,column2 ,..)
VALUES 
   (value1,value2 ,...);
'''

### Multiple rows of data, multiple columns
'''
INSERT INTO table_name (column1,column2 ,..)
VALUES 
   (value1,value2 ,...),
   (value1,value2 ,...),
    ...
   (value1,value2 ,...);
'''
pass

Sometimes we might not know all of the columns in our desired table, we can check using the following syntax

In [8]:
c.execute('''
pragma table_info(clients);
''').fetchall()

[(0, 'generated_id', 'INTEGER', 0, None, 1),
 (1, 'Client_Name', 'VARCHAR(255)', 1, None, 0),
 (2, 'Country_ID', 'INT(255)', 1, None, 0),
 (3, 'Date', 'DATE', 1, None, 0)]

In [9]:
c.execute('''
pragma table_info(country);
''').fetchall()

[(0, 'generated_id', 'INTEGER', 0, None, 1),
 (1, 'Country_ID', 'INT(255)', 1, None, 0),
 (2, 'Country_Name', 'VARCHAR(255)', 1, None, 0)]

Now that we know what columns to access, we can start adding data

In [11]:
c.execute('''
INSERT INTO country(Country_ID, Country_Name)
VALUES 
    (8001, 'United States'),
    (8002, 'Canada');
''')

Notice how we didn't specify a vale for our PRIMARY KEY column, that is because by default, SQL creates these uniqe identifiers for us. These primary keys are the `1` and `2` we can see as the first values in our returned row entires.

In [13]:
c.execute('''
SELECT * FROM country;
''').fetchall()

[(1, 8001, 'United States'), (2, 8002, 'Canada')]

Even though we haven't commited our changes using `conn.commit()` we can still view are changes since they occured locally (within our current working session).  If we want to make these changes available to anyone else that might be using our database, we should commit after we add data.  Let's do that now

In [14]:
conn.commit()

Now, let's add some rows to the `clients` table.  We now have a list of countries and country ids so we can use those to fill in information for some imaginary clients.

Usually when we're entering date/time data, we want to get the current date/time.  SQLite supports the standard SQL variables `CURRENT_DATE`, `CURRENT_TIME`, and `CURRENT_TIMESTAMP` that allow us to do that. Since our column has a data type of `DATE`, we use `CURRENT_DATE`.

In [20]:
c.execute('''
INSERT INTO clients(Client_Name, Country_ID, Date)
VALUES 
    ('American Co.', 8001, CURRENT_DATE),
    ('Canadian Co.', 8002, CURRENT_DATE);
''')
conn.commit()

We can see today's date entered as the last value in each row

In [21]:
c.execute('''
SELECT * FROM clients;
''').fetchall()

[(1, 'American Co.', 8001, '2020-11-13'),
 (2, 'Canadian Co.', 8002, '2020-11-13'),
 (3, 'American Co.', 8001, '2020-11-13'),
 (4, 'Canadian Co.', 8002, '2020-11-13')]

In [27]:
c.execute('''
DELETE FROM clients 
WHERE generated_id=3 OR generated_id=4
''')

In [28]:
c.execute('''
SELECT * FROM clients;
''').fetchall()

[(1, 'American Co.', 8001, '2020-11-13'),
 (2, 'Canadian Co.', 8002, '2020-11-13')]