Import SQLite module for python

In [5]:
import sqlite3

Create a new SQLite database called `test.db`, assign the connection to a variable so that it can be accessed in the current script

In [15]:
conn = sqlite3.connect('test.db') # database will be saved adjacent to this script
conn # sqlite3 Connection object, connected to test.db

Create a `.cursor()` object that 'points' to the database linked to our `conn` object.

In [7]:
c = conn.cursor()

Create a new table called CLIENTS in our `test` dabase

In [8]:
c.execute('''CREATE TABLE CLIENTS
             ([generated_id] INTEGER PRIMARY KEY,[Client_Name] text, [Country_ID] integer, [Date] date)''')

Create a new table called COUNTRY in our `test` dabase

In [9]:
c.execute('''CREATE TABLE COUNTRY
             ([generated_id] INTEGER PRIMARY KEY,[Country_ID] integer, [Country_Name] text)''')

Create a new table called DAILY_STATUS in our `test` dabase

In [10]:
c.execute('''CREATE TABLE DAILY_STATUS
             ([Client_Name] text, [Country_Name] text, [Date] date)''')

Finalize changes to our database connected to `conn`

In [11]:
conn.commit()

Note that the syntax to create new tables should only be used once in the code (unless you dropped the table/s at the end of the code). 
\
The [generated_id] column is used to set an auto-increment ID for each record.
\
When creating a new table, you can add both the field names as well as the field formats (e.g., Text).

We can verify that these tables exist by using a `SELECT *` command to pull all entries (should be an empty return because we haven't added any rows to our tables yet).  We use the `.fetchall` method to return all outputs of `c.execute(...)`

In [18]:
c.execute('''SELECT * FROM CLIENTS''').fetchall()

[]

In [19]:
c.execute('''SELECT * FROM COUNTRY''').fetchall()

[]

In [20]:
c.execute('''SELECT * FROM DAILY_STATUS''').fetchall()

[]

You can see we get an error when we try to access a table that doesn't exist

In [21]:
c.execute('''SELECT * FROM non_existant_table''').fetchall()

OperationalError: no such table: non_existant_table