Import SQLite module for python

In [13]:
import sqlite3

Create a new SQLite database called `test.db`, assign the connection to a variable so that it can be accessed in the current script

In [14]:
conn = sqlite3.connect('test.db') # database will be saved adjacent to this script
conn # sqlite3 Connection object, connected to test.db

Create a `.cursor()` object that 'points' to the database linked to our `conn` object.

In [15]:
c = conn.cursor()

Template for creating a new table in SQLite:

In [4]:
### Safest method:
# Method asks for both our schema name (the `xyz` portion of our `xyz.db` filename), 
# and the name of the table we want to create)
# Method first checks whether or not there is already a table inside the given 
# schema with the given name. If there is, nothing happens, no new table is created. 
# If there is not, a new table is created with the provied architechture. This 
# is simply a safety mechanism that prevents the potential overwriting of 
# current tables in the schema.
# WITHOUT ROWID tells our database to create the table without a default 
# primary key column (remember, we already created a primary key column in 
#column_1)
'''
CREATE TABLE [IF NOT EXISTS] [schema_name].table_name (
        [column_1] data_type PRIMARY KEY,
        [column_2] data_type NOT NULL,
        [column_3] data_type DEFAULT 0
    ) [WITHOUT ROWID];
'''

### Quick n' dirty method:
# Usually works fine but has the potential to break things.  Could potentially 
# overwrite existing tables having the same name.  Also, this syntax assumes 
# that we're already inside/connected to our desired table and schema (.db file)
'''
CREATE TABLE table_name(
    [column_1] data_type PRIMARY KEY,
    [column_2] data_type, 
    [column_3] data_type
    );
'''

'\nCREATE TABLE table_name(\n    [column_1] data_type PRIMARY KEY,\n    [column_2] data_type, \n    [column_3] data_type\n    )\n'

Handy link to a list of the SQL datatypes (remember you have to specify these during column creation): https://www.w3schools.com/sql/sql_datatypes.asp

We're going to use a combination of the two methods above to create our tables.

Create a new table called `clients` in our `test` database

In [16]:
c.execute('''
CREATE TABLE IF NOT EXISTS clients (
    generated_id INTEGER PRIMARY KEY,
    Client_Name VARCHAR(255) NOT NULL, 
    Country_ID INT(255) NOT NULL, 
    Date DATE NOT NULL
    );
''')

Create a new table called `country` in our `test` database

In [18]:
c.execute('''
CREATE TABLE IF NOT EXISTS country(
    generated_id INTEGER PRIMARY KEY,
    Country_ID INT(255) NOT NULL, 
    Country_Name VARCHAR(255) NOT NULL
    );
''')

Create a new table called `daily_status` in our `test` database

In [22]:
# Holds a string with a maximum length of 16,777,215 characters
c.execute('''
CREATE TABLE IF NOT EXISTS daily_status (
    Client_Name VARCHAR(255) NOT NULL, 
    Country_Name VARCHAR(255) NOT NULL, 
    Date DATE NOT NULL, 
    Status MEDIUMTEXT NOT NULL,
    Other_Notes MEDIUMTEXT
    );
''')

Finalize changes to our database connected to `conn`

In [23]:
conn.commit()

Note that the syntax to create new tables should only be used once in the code (unless you dropped the table/s at the end of the code). 
\
The [generated_id] column is used to set an auto-increment ID for each record.
\
When creating a new table, you can add both the field names as well as the field formats (e.g., Text).

We can verify that these tables exist by using a `SELECT *` command to pull all entries (should be an empty return because we haven't added any rows to our tables yet).  We use the `.fetchall` method to return all outputs of `c.execute(...)`

In [28]:
c.execute('''SELECT * FROM clients;''').fetchall()

[]

In [29]:
c.execute('''SELECT * FROM country;''').fetchall()

[]

In [30]:
c.execute('''SELECT * FROM daily_status;''').fetchall()

[]

You can see we get an error when we try to access a table that doesn't exist

In [31]:
c.execute('''SELECT * FROM non_existant_table''').fetchall()

OperationalError: no such table: non_existant_table