In [18]:
sqldf('''
SELECT AVG(test_1_score) AS test_1_avg FROM scores;
''')

   test_1_avg
0        76.4