In [17]:
sqldf('''
SELECT grade, AVG(test_avg) FROM scores GROUP BY grade;
''')

  grade  AVG(test_avg)
0     B      85.800000
1    B+      87.700000
2    B-      81.520000
3     C      74.583333
4    C+      78.400000